* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    sans-serif;
  color: #f9fafb;
  line-height: 1.65;
  font-weight: 400;
}
