* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    sans-serif;
  color: #f9fafb;
  line-height: 1.65;
  font-weight: 400;
}
.page-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #e6e6e6;
  text-align: left;
}
